# Ignorar dependências
node_modules/

# Ignorar arquivos de log
*.log

# Ignorar variáveis de ambiente
.env

# Ignorar cache do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de configuração do WhatsApp Web
.wwebjs_auth/